@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --dark-gray: #292727;
    --light-gray: #d5d6d7;
    --gray: #818181;
    --green: #82df13;
    --light-green: #baf805;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: var(--dark-gray);
    color: var(--light-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--green);
    padding: 8px 0;
}

header h1{
    display: inline;
}

header button{
    border: none;
    background-color: transparent;
    color: var(--light-gray);
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 24px;
    transition: all .4s;
}

header button:hover{
    color: #82df13;
    font-size: 28px;
}



#sidebar{
    background-color: #191717;
    width: 250px;
    position: fixed;
    max-height: 100vh;
    overflow: auto;
    z-index: 2;
    transition: all .2s;
}

#sidebar.closed{
    width: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
    backdrop-filter: blur(8px); /* Efeito de desfoque */
    z-index: 1; /* Coloque o overlay acima da barra lateral */
    display: none; /* Inicialmente oculto */
}

#sidebar-header{
    background-color: var(--green);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 500;

}

#sidebar-header button{
    background-color: transparent;
    padding: 1px 13px;
    font-size: 25px;
    font-weight: 500;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
}

#sidebar-content{
    display: flex;
    flex-direction: column;
}

#sidebar-content h1{
    color: var(--green);
    font-weight: 300;
    font-size: 20px;
    padding: 10px 0 10px 20px;
}

.sidebar-list span{
    padding: 10px 0 10px 20px;
    background-color: #2d2b2b;
    display: block;
}

.list-item{
    border-bottom: 1px solid #252424;
    padding: 10px 0 10px 20px;
    list-style: none;
    cursor: pointer;
    transition: all .2s;
}

.list-item:hover{
    background-color: #2d2b2b;
}

#social-midia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #494848;
}

#social-midia button{
    border: none;
    padding: 9px;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

#facebook{
    background-color: #616ee0;
}

#whatsapp{
    background-color: #46ce64;
}

#twitter{
    background-color: #9abfff;
}

#description{
    padding: 20px 0;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-size: 21px;
    font-weight: 200;
}

#video{
    max-width: 600px;
    display: flex;
    margin: 0 auto;
    border: 3px solid var(--green);
    border-radius: 4px;
    justify-content: center;
    margin-bottom: 70px;
}

#video iframe{
    border-radius: 4px;
    width: 100%;
}

#search-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
    flex-direction: column;
    border: 1px solid #2d2b2b;
    width: 500px;
    height: 150px;
    background-color: black;
    border-radius: 4px;
}

#search-box-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 2px solid #baf805;
}

#search-box-title #buscar{
    color: #82df13;
    font-size: 24px;
}

#search-box-title button{
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: #82df13;
    cursor: pointer;
}

#search-box-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    
}

#search-box-input input{
    font-size: 24px;
    width: 90%;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    color: #818181;
}

#search-box-input button{
    border: none;
    color: #818181;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #494848;
    padding: 5px 4px;
}




